Checks: '*,
         -abseil-*
         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-macro-usage,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -cppcoreguidelines-owning-memory,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-const-cast,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -cppcoreguidelines-pro-type-union-access,
         -cppcoreguidelines-pro-type-static-cast-downcast,
         -fuchsia-*,
         -google-build-using-namespace,
         -google-readability-braces-around-statements,
         -google-readability-function-size,
         -google-readability-namespace-comments,
         -google-runtime-references,
         -hicpp-*,
         -llvmlibc-*,
         -llvm-*,
         -modernize-avoid-c-arrays,
         -modernize-use-trailing-return-type,
         -modernize-use-nodiscard,
         -misc-non-private-member-variables-in-classes,
         -portability-simd-intrinsics,
         -readability-braces-around-statements,
         -readability-implicit-bool-conversion,
         -readability-isolate-declaration,
         -readability-function-size,
         -readability-magic-numbers,
         -readability-named-parameter,
         -readability-else-after-return,
         -readability-uppercase-literal-suffix,
         -readability-static-definition-in-anonymous-namespace'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
